//colors
$hot-pink: #f9458e;
$pink: #fd79ad;
$medium-pink: #ffafbb;
$light-pink: #ffeaec;
$lightest-pink: #fff7f8;
$white: #fff;

// New Colors
$black: #0e0c0c;
$pink-one: #ff5099;
$pink-two: #e5c3e1;
$pink-three: #f65195;
$pink-four: #fbd0e3;
$pink-five: #f7ecf6;
$pink-footer: #feddec;
$bestie-one: #fef5f9;
$bestie-two: #fff9fc;
$ellips-pink: #f34f96;
$ellips-grey: #616569;
$border-grey: #707070;
$border-pink: #fbd0e3;
$capsule-one: #facfe2;
$capsule-two: #ffd669;
$capsule-three: #da90e4;
$capsule-four: #ffc176;
$capsule-five: #bec3c6;
$bg-grey: #eef0f2;
