// ===== Font Custom ===== //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.mont-light {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
}

.mont-regular {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.mont-medium {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

.mont-semi {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

.mont-bold {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
}

.mont-italic {
    font-family: 'Montserrat', sans-serif !important;
    font-style: italic;
}

// ===== End Font Custom ===== //
