@import '../../styles/colors';
@import '../../styles/mixins';

section.slider {
    .slider-container {
        .slider-content {
            position: relative;

            .position-left {
                left: 0;
            }

            .position-right {
                right: 0;
            }

            .slide-in-right {
                -webkit-animation: slide-in-right 2s
                    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s both;
                animation: slide-in-right 2s
                    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s both;
            }

            .slider-text {
                position: absolute;
                width: 50%;
                z-index: 5;
                top: 0;
                @media (max-width: 767px) {
                    width: 100%;
                }

                //slide 1
                h2 {
                    color: #fff;
                    font-size: 3em;
                    letter-spacing: 5px;
                    font-weight: bolder;
                    width: 80%;
                    padding-left: 12%;
                    padding-top: 37%;
                    @media (min-width: 768px) and (max-width: 1080px) {
                        font-size: 2em;
                    }
                    @media (max-width: 767px) {
                        font-size: 2em;
                        padding-left: 7%;
                        padding-top: 37%;
                    }
                }

                h3 {
                    font-size: 1.8em;
                    color: $pink;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    padding-left: 12%;
                    @media (min-width: 768px) and (max-width: 1080px) {
                        font-size: 1.5em;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                //slide 1 end

                //slide 2
                h1 {
                    color: #000;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    width: 100%;
                    padding-top: 53%;
                    @media (min-width: 768px) and (max-width: 990px) {
                        font-size: 2em;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                //slide 2 end

                //slide 3
                h5 {
                    color: #000;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bolder;
                    text-align: right;
                    padding-left: 45%;
                    padding-top: 34%;

                    @media (min-width: 768px) and (max-width: 1080px) {
                        font-size: 2em;
                        padding-left: 40%;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                //slide 3 end
            }

            img {
                z-index: -10;
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @media (max-width: 1280px) {
                    object-fit: contain;
                    height: 100vh;
                }

                @media (max-width: 1024px) {
                    height: auto;
                }

                @media (min-width: 768px) and (max-width: 990px) {
                    height: auto;
                }
            }

            img.border-radius {
                border-bottom-right-radius: 0;

                @media (min-width: 768px) and (max-width: 990px) {
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .slick-slide {
        height: auto;
        &:first-child .slider-button {
            margin-left: 12%;
            padding: 2% 4%;
            transition: ease-in-out 0.3s;
            @media (max-width: 767px) {
                display: none;
            }
        }

        &:nth-child(2) .slider-button {
            display: none;
        }
        &:last-child .slider-button {
            display: none;
        }
    }

    ul.slick-dots {
        display: flex !important;
        align-items: flex-end;
        flex-direction: column;
        bottom: 55%;
        right: 1%;

        @media (max-width: 890px) {
            flex-direction: row;
            bottom: 0;
            right: auto;
            padding: 0 1.5rem;
        }

        @media (max-width: 768px) {
            flex-direction: row;
            bottom: 0;
            right: auto;
        }

        @media (max-width: 576px) {
            bottom: 15%;
            padding: 0 0.5rem;
            flex-direction: column;
        }

        li {
            @media (max-width: 576px) {
                height: 15px;
                width: 15px;
                margin-bottom: 15px;
            }
        }
    }
}
