@import '../../styles/colors';

.related-section {
    background: #f6f6f6;
    padding-top: 3%;
    @media (max-width: 767px) {
        padding-top: 7%;
    }

    .section-title {
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 4%;
        @media (max-width: 767px) {
            margin-bottom: 8%;
        }
    }

    .related-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5%;

        .article-card {
            width: 30.5%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3%;
            display: none;
            @media (max-width: 767px) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 10%;
            }

            &:nth-child(-n + 3) {
                display: block;
            }

            .img-container img {
                width: 100%;
                height: 262.5px;
                object-fit: cover;
                object-position: center;
                @media (min-width: 1401px) {
                    height: 360px;
                }
                @media (min-width: 767px) and (max-width: 990px) {
                    height: 150px;
                }
            }

            .article-list-text {
                background: #fff;
                padding: 6%;
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 70%;
                }

                .article-category {
                    color: $pink;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 0.85em;
                    @media (min-width: 1601px) {
                        font-size: 0.6em;
                    }
                    @media (min-width: 1401px) and(max-width:1600px) {
                        font-size: 0.55em;
                    }
                    @media (max-width: 767px) {
                        font-size: 0.8em;
                    }
                }

                .article-title {
                    height: 60px;
                    color: #000;
                    letter-spacing: 1px;
                    padding: 0;
                    @media (min-width: 1601px) {
                        font-size: 0.9em;
                        margin-bottom: 25%;
                    }
                    @media (min-width: 1401px) and(max-width:1600px) {
                        font-size: 0.7em;
                    }
                    @media (max-width: 767px) {
                        margin-bottom: 2%;
                        margin-top: 2%;
                    }
                }

                // DO NOT REMOVE WRITER AND DATE - might be needed someday
                // .writer,
                // .article-date {
                //   float: left;
                //   letter-spacing: 1px;
                //   color: #7e7e7e;
                //   @media (min-width: 1601px) {
                //     font-size: 0.7em;
                //   }
                //   @media (min-width: 1401px) and(max-width:1600px) {
                //     font-size: 0.5em;
                //   }
                //   @media (min-width: 768px) and (max-width: 1024px) {
                //     max-width: 100%;
                //     width: auto;
                //     float: none;
                //   }

                //   p {
                //     margin-bottom: 0;
                //   }

                //   span {
                //     padding-right: 2%;

                //     @media (min-width: 768px) and(max-width:1024px) {
                //       display: none;
                //     }
                //   }
                // }

                .writer {
                    padding-right: 2%;
                    max-width: 50%;
                }

                .article-date {
                    width: 50%;
                }
            }
        }
    }
}
