@import '../../styles/colors';
@import '../../styles/mixins';

.section-article-banner {
    .radius-bottom-right {
        border-bottom-right-radius: 100px;
        @media (max-width: 767px) {
            border-bottom-right-radius: 50px;
        }
    }
    .banner-container {
        @include pink-gradient;
        position: relative;
        width: 100%;

        .img-container {
            img {
                width: 100%;
                height: 472px;
                object-fit: cover;
                object-position: center;

                @media (min-width: 1800px) {
                    height: 740px;
                }
            }
        }

        .banner-text {
            position: absolute;
            bottom: 5%;
            left: 5%;
            color: #fff;

            .article-category {
                text-transform: uppercase;
                letter-spacing: 2px;
                @media (min-width: 1401px) and (max-width: 1600px) {
                    font-size: 0.7em;
                }
                @media (max-width: 767px) {
                    font-size: 0.8em;
                }
            }

            .article-title {
                letter-spacing: 2px;
                font-size: 2em;
                font-weight: bolder;
                width: 60%;
                @media (min-width: 1401px) and (max-width: 1600px) {
                    font-size: 1.5em;
                }
                @media (max-width: 990px) {
                    width: 100%;
                    padding-right: 5%;
                    font-size: 1.5em;
                }
            }

            .read-more {
                padding: 1.5% 2%;
                @media (min-width: 1401px) {
                    padding: 1%;
                }
                @media (max-width: 767px) {
                    padding: 4% 2%;
                    width: 40%;
                }
            }

            // DO NOT REMOVE WRITER AND DATE - might be needed someday
            // .writer {
            //   width: 15%;
            //   font-weight: bolder;
            //   letter-spacing: 1px;
            //   float: left;
            //   @media (min-width: 1401px) and (max-width: 1600px) {
            //     font-size: 0.65em;
            //   }
            //   @media (max-width: 767px) {
            //     max-width: 50%;
            //     width: auto;
            //     padding-right: 5%;
            //   }
            // }

            // .article-date {
            //   width: 100%;
            //   font-weight: bolder;
            //   letter-spacing: 1px;
            //   float: left;
            //   padding-left: 1%;
            //   position: relative;
            //   display: none;
            //   @media (min-width: 1401px) and (max-width: 1600px) {
            //     font-size: 0.65em;
            //   }
            //   @media (max-width: 767px) {
            //     width: 50%;
            //     padding-left: 2%;
            //   }

            //   &::before {
            //     content: "";
            //     position: absolute;
            //     outline: 1px solid #fff;
            //     height: 0.75em;
            //     top: 12%;
            //     left: 0;
            //   }
            // }
        }

        &:hover {
            .img-container img {
                transition: all 0.3s ease-in-out;
                filter: opacity(0.4);
                @include pink-gradient;
                width: 100%;
                height: 472px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
